<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入 element-ui 的样式 -->
    <link rel="stylesheet" href="./css/element.css">
    <!-- 必须先引入 vue，  后使用 element-ui -->
    <script src="./js/vue.js"></script>
    <!-- 引入 element 的组件库 -->
    <script src="./js/element.js"></script>
</head>

<body>
    <div id="app">



        <el-radio v-model="gender" label="boy">男</el-radio>
        <el-radio v-model="gender" label="girl">女</el-radio><br><br>

        <el-radio v-model="grade" label="lowGrade">大一/大二</el-radio>
        <el-radio v-model="grade" label="highGrade">大三/大四</el-radio>


        <el-table :data="tableData" style="width: 100%">
            <el-table-column prop="item" label="项目" width="180"></el-table-column>
            <el-table-column prop="data" label="数据">
                <template slot-scope="scope">
                    <el-input v-model="scope.row.data" type="Number" />
                </template>
            </el-table-column>

            <el-table-column prop="score" label="得分">
            </el-table-column>
        </el-table>
    </div>

    <script>
        new Vue({
            el: "#app",
            data() {
                return {
                    gender: '',
                    grade: '',
                    input: '',
                    tableData: [
                        {
                            item: '身高/cm',
                            data: '1',
                            score: '0',
                        },
                        {
                            item: '体重/kg(15%)',
                            data: '2',
                            score: '0',
                        },
                        {
                            item: '肺活量/mL(15%)',
                            data: '3',
                            score: '0',
                        },
                        {
                            item: '立定跳远/cm(10%)',
                            data: '4',
                            score: '0',
                        },
                        {
                            item: '坐位体前屈/cm(10%)',
                            data: '5',
                            score: '0',
                        },
                        {
                            item: '50米/s(20%)',
                            data: '5',
                            score: '0',
                        },
                        {
                            item: '1000米/s(20%)',
                            data: '5',
                            score: '0',
                        },
                        {
                            item: '引体向上/cm(10%)',
                            data: '5',
                            score: '0',
                        },
                    ]
                }
            },
            computed: {
                lungScore() {
                    const lungData = this.tableData[2].data;
                    if (this.gender == 'boy') {
                        return this.lungBoyScore(lungData);
                    } else {
                        return this.lungGirlScore(lungData);
                    }
                }
            },
            watch: {
                lungScore() {
                    this.tableData[2].score = this.lungScore;
                }


            },
            methods: {
                lungBoyScore(lung) {  //返回男生肺活量分数
                    var t1, t2;
                    var lowestLung;
                    var deltaLung;
                    var deltaScore;
                    var lowestScore;
                    if (lung < 3200) {
                        lowestScore = 10;
                        deltaScore = 10;
                        if (this.grade == 'lowGrade') {
                            lowestLung = 2300;
                            deltaLung = 160;
                        } else {
                            lowestLung = 2350;
                            deltaLung = 170;
                        }

                    }
                    else if (lung < 4400) {
                        lowestScore = 60;
                        deltaScore = 2;
                        deltaLung = 120;
                        lowestLung = this.grade == 'lowGrade' ? 3100 : 3200;
                    }
                    else if (lung < 4900) {
                        lowestScore = 80;
                        deltaScore = 5;
                        deltaLung = 250;
                        lowestLung = this.grade == 'lowGrade' ? 4300 : 4400;
                    } else {
                        lowestScore = 90;
                        deltaScore = 5;
                        deltaLung = 120;
                        lowestLung = this.grade == 'lowGrade' ? 4800 : 4900;
                    }
                    return this.lungGetScore(lung, lowestLung, deltaLung, lowestScore, deltaScore);


                },
                lungGirlScore(lung){
                    var lowestLung;
                    var deltaLung;
                    var deltaScore;
                    var lowestScore;
                    if (lung < 2050) {
                        lowestScore = 10;
                        deltaScore = 10;
                        if (this.grade == 'lowGrade') {
                            lowestLung = 1800;
                        } else {
                            lowestLung = 1850;
                        }
                        deltaLung = 40;

                    }
                    else if (lung < 3050) {
                        lowestScore = 60;
                        deltaScore = 2;
                        deltaLung = 100;
                        lowestLung = this.grade == 'lowGrade' ? 2000 : 2050;
                    }
                    else if (lung < 3350) {
                        lowestScore = 80;
                        deltaScore = 5;
                        deltaLung = 150;
                        lowestLung = this.grade == 'lowGrade' ? 3000 : 3050;
                    } else {
                        lowestScore = 90;
                        deltaScore = 5;
                        deltaLung = 50;
                        lowestLung = this.grade == 'lowGrade' ? 3300 : 3350;
                    }
                    return this.lungGetScore(lung, lowestLung, deltaLung, lowestScore, deltaScore);
                },
                lungGetScore(lung, lowestLung, deltaLung, lowestScore, deltaScore) {
                    if (lung < lowestLung) {
                        return 0;
                    }
                    var lungTemp = lung - lowestLung + deltaLung;
                    var result=parseInt(lungTemp / deltaLung - 1) * deltaScore + lowestScore;
                    if(result>100){
                        return 100;
                    }
                    return result;
                }
            }
        })
    </script>

</body>

</html>