<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>scnu体测成绩计算器</title>
    <script type="module" src="./js/main.js"></script>
    <!-- 引入 element-ui 的样式 -->
    <link rel="stylesheet" href="./css/element.css">
    <!-- 必须先引入 vue，  后使用 element-ui -->
    <script src="./js/vue.js"></script>
    <!-- 引入 element 的组件库 -->
    <script src="./js/element.js"></script>
</head>

<body>
    <!-- 悄悄统计页面访问次数嘿嘿 -->
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

    网址已迁移至gitee，可流畅访问https://ddddplz.gitee.io/calculator/look.html
    有错误欢迎关注公众号ddddzyjplz留言<br>
    <div id="app">
        <div id="topItem">
            <div id=totalScore>
                {{totalScore}}<br>
            </div>
            <div id="extraScore">
                + {{extraScores}} 分<br>
            </div>

            <el-radio-group v-model="gender" @change="savedData">
                <el-radio label="boy">男</el-radio>
                <el-radio label="girl">女</el-radio>
            </el-radio-group><br>

            <el-radio-group v-model="grade" @change="savedData">
                <el-radio label="lowGrade">大一/大二</el-radio>
                <el-radio label="highGrade">大三/大四</el-radio>
            </el-radio-group>
        </div>

        <el-table :data="tableData" style=" width: 100%;margin: auto">
            <el-table-column prop="item" label="项目" min-width="35%"></el-table-column>

            <el-table-column prop="data" label="数据" min-width="50%">
                <template slot-scope="scope">
                    <el-input v-model="scope.row.data" type="Number" :step="scope.row.step"
                        :placeholder=tips[scope.$index] @input="handleInputChange(scope.row)" />
                </template>
            </el-table-column>

            <el-table-column prop="score" label="得分" min-width="15%"></el-table-column>
        </el-table>
    </div>
</body>
<style>
    #topItem {
        text-align: center;
        font-size: xx-large;
        font-weight: bolder;
        color: rgb(95, 231, 158);
    }


    .el-radio__label {
        font-size: 20px;
    }

    .el-radio__inner {
        width: 20px;
        height: 20px;
        margin-bottom: 5px;
    }

    #extraScore {
        font-size: x-large;
    }

    #totalScore {
        font-size: 50px;
    }
</style>

</html>
